<div class="hidden md:flex max-w-[100%] md:max-w-[1200px] mx-auto px-4">
  <div class="flex flex-row w-full overflow-hidden shadow-none">
    <!-- Card 1 -->
    <div class="flex-1 py-6 px-5 md:px-6 text-white bg-amber-500 flex flex-col items-center md:items-start">
      <div class="flex items-start gap-2">
        <div class="flex-shrink-0">
          <img src="assets/images/hero/financeHeroImage.svg" alt="Finance" class="w-12 h-12" loading="lazy" onerror="this.style.display='none'">
        </div>
        <div>
          <div class="font-semibold text-lg md:text-xl">Jackfruit Finance</div>
          <div class="text-sm mt-1 pb-4">Facilitating tailored financial support to empower schools.</div>
        </div>
      </div>
      <a href="#" class="mt-6 border border-white text-white font-bold px-6 py-2  rounded-none hover:bg-white hover:text-amber-500 transition-colors text-center w-full md:w-auto">Learn More</a>
    </div>

    <!-- Card 2 -->
    <div class="flex-1 py-6 px-5 md:px-6 text-white bg-emerald-500 flex flex-col items-center md:items-start">
      <div class="flex items-start gap-2">
        <div class="flex-shrink-0">
          <img src="assets/images/hero/foundationHeroImage.svg" alt="Foundation" class="w-12 h-12" loading="lazy" onerror="this.style.display='none'">
        </div>
        <div>
          <div class="font-semibold text-lg md:text-xl">Jackfruit Foundation</div>
          <div class="text-sm mt-1">Connecting schools with essential resources—supplies, software, and services.</div>
        </div>
      </div>
      <a href="#" class="mt-6 border border-white text-white font-bold px-6 py-2 rounded-none hover:bg-white hover:text-emerald-500 transition-colors text-center w-full md:w-auto">Learn More</a>
    </div>

    <!-- Card 3 -->
    <div class="flex-1 py-6 px-5 md:px-6 text-white bg-blue-600 flex flex-col items-center md:items-start">
      <div class="flex items-start gap-2">
        <div class="flex-shrink-0">
          <img src="assets/images/hero/hubHeroImage.svg" alt="Hub" class="w-12 h-12" loading="lazy" onerror="this.style.display='none'">
        </div>
        <div>
          <div class="font-semibold text-lg md:text-xl">Jackfruit Hub</div>
          <div class="text-sm mt-1">Building sustainable partnerships for education equity in underserved communities.</div>
        </div>
      </div>
      <a href="#" class="mt-6 border border-white text-white font-bold px-6 py-2 rounded-none hover:bg-white hover:text-blue-600 transition-colors text-center w-full md:w-auto">Learn More</a>
    </div>
  </div>
</div>